.flex{
    display: flex;
}
.items-centre{
    align-items: center;
  
}
.justify-centre{
    justify-content:center;
}
.space-between{
    justify-content:space-between;
}
.uppercase{
    text-transform: uppercase;
}

.semibold{
    font-weight: bolder;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
    padding: 19px;
}